<html>
  <head>
    <title>dudemouse</title>
  </head>
  <body>
    <center>
      <h1>the dudemouse</h1>

      <embed src="/intro.wmv" autostart="true" height="500" width="500">
    </center>
  </body>
</html>
