<html>
  <head>
    <title>dudemouse</title>
  </head>
  <body>
	  <script type="text/javascript" src="/flowplayer-3.2.6.min.js"></script>
    <center>
      <a id="player" href="/intro.flv"></a>
      <script>
        flowplayer("player", "../flowplayer-3.2.7.swf");
      </script>
    </center>
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4eaedd1cf5a1f5354e000002');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
  </body>
</html>
